 body{
        display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            background: linear-gradient(180deg,#6FA8FF,#7b4eed,#05abe7);
            backdrop-filter:blur(1px);
            margin: 200px;

        }
        .sec{
            width:25px;
            height:18px;
        }
        .src{
         width: 140px;
         height:18px;
        }
        .style{
            display: flex;
            gap: 150px;
        }
        .box{
            margin: 3px;
            width: 340px;
            padding: 15px;
            border: 1px solid black;
            border-radius: 8px;
            text-align: center;
        background: linear-gradient(140deg,#1308b3,#e8c844,#c53ad2);
        color: white;

        box-shadow: 0 20px 40px rgb(0,0,0,0.25);
        font-family: Arial;
        }

        .box-two{
            width:210px;
            height: 150px;
            padding: 80PX;
            border: 1PX solid black;
            border-radius: 10px;
            background: linear-gradient(150deg,blue,orange,purple);
        }
        .your-box{
            margin-top: -30%;
            display: flex;
            justify-content: center;
            color: antiquewhite;
        }
        .small{
            margin-left: -22%;
            font-size: small;
        }
        .small-2{
            margin-left: -22%;
            font-size: x-small;
        }
        .small-1{
            margin-left: -22%;
            font-size: x-large;
        }
        .drow{
         display: flex;
         justify-content: end;
         text-align: end;
         font-size: 60px;
        }
        .d-set{
        border: 0.5px solid rgb(37, 148, 221);
        color: rgb(0, 0, 0);
        padding: 50px;
         margin: 50px;
         border-radius: 15px;
         background: linear-gradient(180deg,#f806f0,#fbfb03,#00f794);

           box-shadow:
            0 0 20px rgb(5, 151, 196),
            0 0 40px rgb(5, 111, 192),
            0 0 60px rgb(120, 6, 221);

            transition: 0.9s;
     }

        
        .d-set:hover{
            background: linear-gradient(180deg,#b905e1,#0ae884,#0be4d2);
            transition: 0.2s;
            cursor: pointer;

            opacity: 0.95;
            box-shadow: 0 0 40px red,
            0 0 60px blue,
            0 0 80px pink;

        }
        .box:hover{
            background: linear-gradient(100deg,#6FA8FF,#4F8EF7,#3B6EDC);
            transition: 0.3S;
            cursor: pointer;
        }
        .box-two:hover{
            background: linear-gradient(100deg,#6FA8FF,#4F8EF7,#3B6EDC);
            transition: 0.3S;
            cursor: pointer;
        }
        



 
 